<!-- <div class="header">
    <a href="#default" class="heading"> Cohort002 Medicine Supply Management</a>
    <div class="header-right">
      <a *ngIf="userlogged()"class="active" href="" (click)="submit()">Logout</a>
    </div>
</div>
<br> -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid text-center">
    <a class="navbar-brand" href="#">Cohort002 Medicine Supply Managemnet</a>
    <div class="header-right">
      <a *ngIf="userlogged()"class="btn btn-outline-primary" href="" (click)="submit()">Logout</a>
    </div>
    
      
    
  </div>
</nav>
  