/* .main-div{
  width: 200px;
   height: 400px;
    text-align: center;   
    padding-left: 850px;
    padding-top: 200px;
} */
body{
    background-image: url('../../assets/img_5.webp');
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
}
.main{
  align-items: center;
  padding-left: 450px;
}
/* .button{
  background-color: rgb(92, 206, 200);
  border-radius: 10px;
  width: 100px;
  height: 30px;
  color: white;
  border-style: none;
} */
.main-table{
padding-right: 100px;
}

.background{
  background-repeat: no-repeat;
  background-size: cover;
   height:100vh;
  background-image: url('../../assets/img_5.webp');
  /* background-position: center;
  
    /* background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat; */
}

h3{
    margin-left: -200px;
    width: 600px;
    font-size:xx-large;  
    text-align: center;
}
table, td, th {
    border: 1px solid black;
    text-align: left;
    width: 140px;
    height: 70px;
  }
  
  table {
    width: 80%;
    border-collapse: collapse; 
  }

  th{
      background-color:  rgb(179, 61, 86);
      color: white;
  }
  *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}
h4{
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px   rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 8px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: separate;
    width: 1000px;
    align-items: center;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.fl-table thead th {
    color: #ffffff;
    background: rgb(179, 61, 86);
    font-size: 14px;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background:  rgb(179, 61, 86);
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

