<app-header></app-header>
<html>
    <body  style="background-image: url('/assets/img_5.webp');" class="background">
<div class="container my-5">
    <table>
        <tr>
            <td>
                <div class="card left my-10 container">
                    <div class="container">
                      <h4><b>Schedule Meeting</b></h4> <br>
                     
                    <button name='schedule' class="btn btn-outline-success" (click)="schedule()">Schedule</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card right container">
                    <div class="container">
                      <h4><b>Medicine Supply</b></h4> <br>
                     
                       
                      <button class=" btn btn-outline-success" name="Supply" (click)="supply()">Supply</button>
                    </div>
                  </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>